# Ignorar node_modules en ambas carpetas
bee_express_pruebaback/node_modules/
front-colpryst/node_modules/

# Ignorar archivos de entorno
bee_express_pruebaback/.env
front-colpryst/.env
facial_auth/venv310/

# Ignorar archivos de configuración local
bee_express_pruebaback/.vscode/
front-colpryst/.vscode/

# Ignorar archivos generados
bee_express_pruebaback/dist/
front-colpryst/dist/
front-colpryst/build/

# Ignorar archivos de log
bee_express_pruebaback/logs/
front-colpryst/logs/
bee_express_pruebaback/src/config/database.js

.vscode/